<!DOCTYPE  html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="background-color: grey">
    <h1 style="color: green " >Pagina de inicio de la aplicacion calcudora</h1>
    <ul>
        <li>ir a la pagina sumar<a href="/suma?numero1=20&numero2=30"> Ir a Suma</a></li>
        <li>ir a la pagina division piso<a href="/division_piso?numero1=200&numero2=30"> Ir a Division Piso</a></li>


    </ul>    

</body>
</html>